build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt

src/embedded_ui.h

*.o
*.a
*.so
*.exe
*.out
main

.idea/
.vscode/
*.swp
*.swo

*.log